<div class="login-page">
  <div class="form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f| %>


	   <% if !flash.empty? %>
	   <div class="alert alert-success lead">
	     <% flash.each do |name, msg| -%>
	       <%= content_tag :div, msg, class: name %>
	     <% end -%>
	   </div>
	 <% end %>

      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "contraseña" %>
      <%= f.submit "Entrar" %>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>

